/* Add screen styles below */
a.active {
    font-weight: bold;
}

html {
    background: #e3e3e3;
}

header {
    background-color: #c4def8;
    padding: 1rem 2rem;
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav a {
    margin-right: 1rem;
    font-weight: bold;
    color: darkblue;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 35px;
    padding: 35px;
    color: #242424;
    border-top: 10px solid #242424;
    background: #fff;
}

h1 {
    font-size: 3em;
    margin: 0;
}

h2 {
    margin: 0;
    font-size: 2em;
    padding: 35px;
    padding-bottom: 0;
}

p {
    line-height: 1.4em;
}

#blog {
    border-top: 2px dotted #ccc;
    background-color: #e1ecf7
}

.blogpost {
    border-bottom: 2px dotted #ccc;
    padding: 35px;
    margin: 0;
}

#contact {
    background-color: #e1ecf7
}

#aboutme {
    margin: auto;
}

.about {
    border-bottom: 2px dotted #ccc;
    border-top: 2px dotted #ccc;
    background-color: #e1ecf7;
}

