/* Add screen styles below */
a.active {
    font-weight: bold;
}

/* Main stuff */

html {
    background: #c9c9c9;
}

header {
    background-color: #c4def8;
    position: sticky;
    top: 0;
    z-index: 1000;
    border-radius: 10px;
    margin: 1rem auto;
    padding: 1rem;
    max-width: 1200px;
}

#header {
    margin-left: 35px;
}

nav a {
    margin-right: 1rem;
    font-weight: bold;
    color: darkblue;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 35px;
    padding: 35px;
    color: #242424;
    border-top: 10px solid #242424;
    background: #f1f1f1;
}

h1 {
    font-size: 3em;
    margin: 0;
}

h2 {
    margin: 0;
    font-size: 2em;
    padding: 35px;
    padding-bottom: 0;
}

h4 {
    font-size: 2em;
    padding-bottom: 0;
}

p {
    line-height: 1.4em;
}


/* Blog stuff */

#blog {
    border-top: 4px dotted #ccc;
    background-color: #e1ecf7;
    border-bottom: 4px dotted #ccc;
    display: flex;
    margin: 2rem auto;
    padding: 1rem;
    border-radius: 10px;
    max-width: 1200px;
}

table {
    margin: 1rem;
    margin-left: 120px;
}

th, td {
    border: 2px solid #c2c2c2;
    text-align: center;
}

th {
    background-color: #bebebe;
}

td {
    background-color: #e3e3e3;
}

.blogpost {
    padding: 35px;
    margin: 0;
    text-align: center;
}

#newsletter {
    text-align: center;
}

.fig-left {
    float: right;
}

figcaption {
    font-size: 0.7rem;
    margin-left: 35px;
}


/* About Page */

.aboutme {
    text-align: center;
    margin-left: 35px;
    margin-right: 35px;
    padding-top: 0;
}

#me {
    padding-left: 35px;
}

.about {
    border-bottom: 4px dotted #ccc;
    border-top: 4px dotted #ccc;
    background-color: #e1ecf7;
    margin: 2rem auto;
    padding: 1rem;
    border-radius: 10px;
    max-width: 1200px;
}

#thx {
    text-align: center;
    text-decoration: underline;
}

/* Contact Page */

#contact {
    background-color: #e1ecf7;
    margin: 2rem auto;
    padding: 1rem;
    border-radius: 10px;
    max-width: 1200px;
    border-bottom: 4px dotted #ccc;
    border-top: 4px dotted #ccc;
}

form {
    margin-top: 1rem;
    padding: 35px;
    padding-top: 15px;
}

form label {
    margin-top: 1rem;
    font-weight: bold;
    display: block;
}

form input {
    padding: 10px;
    margin-top: 6px;
    margin-bottom: 14px;
}

form select {
    padding: 10px;
    margin-top: 6px;
    margin-bottom: 14px;
}

form textarea {
    padding: 10px;
    margin-top: 6px;
    margin-bottom: 14px;
}

input[type="text"], input[type="email"] {
    background-color: #fff;
}

#reason {
    border-radius: 3px;
}

form button {
    margin-left: -160px;
    margin-bottom: -35px;
}

form button:hover {
    background-color: rgb(202, 202, 202);
}