/* Add screen styles below */
a.active {
    font-weight: bold;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 35px;
    color: #242424;
    border-top: 10px solid #242424;
    
}

h1 {

}

p {

}

#blog {

}

.blogpost {

}
